.formContainer {
    align-self: center;
  width: max-content;
  height: max-content;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
 

}
.titleSection {
  text-align: left;
  padding-bottom: 40px;
}
.titleSection span {
  color: var(--gray-gray-0, #7181a1);
  font-feature-settings: "clig" off, "liga" off;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.titleSection h4 {
  color: var(--black-black-20, #131926);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.errmsg {
    color: red;
    font-size: 0.5em;
    font-weight: 400;
  }
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  color: var(--black-black-90, #4d5e80);
  font-feature-settings: "clig" off, "liga" off;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.form label .requiredIndic {
  font-feature-settings: "clig" off, "liga" off;
  color: #ff675b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.inputWrapper {
  width: 492px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.formGroup span {
  box-sizing: border-box;
  text-align: right;

  color: #68f;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.formGroup button {
  color: #fff;
  border: none;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  cursor: pointer;
  width: 350px;
  padding: 18px 149px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 6px;
  background: var(--blue-blue-10, #194dff);
}
.signUpRedirection {
  margin-top: 40px;
}
.signUpRedirection p {
  color: #a0abc0;
  font-feature-settings: "clig" off, "liga" off;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.signUpRedirection span {
  margin-left: 10px;
  color: #3361ff;
  cursor: pointer;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
}
